.login_icon{
    margin: 0 auto;
    width: 56%;
    height: auto;
}

.login_button{
    background-color: #AF001B;
    margin-top: 3vh;
    border: 2px solid #AF001B;
}

.login_button:hover {
    background-color: white; /* Green */
    color: #AF001B;
    border: 2px solid #AF001B;
  }

.login_title{
    font-size: 10vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.title{
    font-size: 6vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    color: #6E471E; 
}
.form-control:focus {
    border-color: #AF001B;
    box-shadow: 0 0 0 0.2rem rgba(153, 11, 11, 0.25);
} 

.table_container{
    margin-right: 3%; 
    margin-left: 3%;
}

.navbar-custom { 
    background-color: #6E471E; 
}

.table_container{
    margin-top: 2.5%;
    

}

.tab-content{
    margin: 0;
}

.tabs{
    color: #AF001B;
}

.tabs:hover{
    color: #6E471E;
}
.table_pic{
    width: 10vh;
    height: 10vh;
}

#preview{
    width: 20vh;
    height: 20vh;
    margin-left: 5vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.delete{
    color: #AF001B;
}

.delete:hover{
    text-decoration: underline;
}